<h1><%= @expense.activity %></h1>
<p><%= @expense.description %></p>

<form class="" action="/<%= @expense.id%>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Expense">
</form>
