<div class="center">
  <h1><%= @expense.activity %> - £<%= @expense.cost %></h1>
  <p><%= @expense.description %></p>

  <form class="" action="/<%= @expense.id%>" method="post">
    <input class="btn btn-default" type="hidden" name="_method" value="DELETE">
    <input class="btn btn-default" type="submit" value="Delete Expense">
  </form>
</div>
